@use '@sass-palette/star-config';
@use '@starzkg/vuepress-shared/styles/wrapper';

.page {
  .page-title {
    @include wrapper.wrapper;
    padding-bottom: 0.2rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    color: var(--dark-grey);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    .page-title-icon {
      color: var(--accent-color);
      font-size: 0.9em;
      width: 32px;
      height: 32px;
    }

    h1 {
      margin: 0 0 0 0.5rem;
      display: inline-block;
    }

    + #{star-config.$content-class}:not(.custom) {
      padding-top: 0;
    }

    + #{star-config.$content-class}:not(.custom) > h1:first-child {
      display: none;
    }
  }
}
