@import '_variables';

.profile-page {
  padding-top: var(--navbar-height);
  margin: 0 auto;
  max-width: 1290px;

  .profile-page-header {
    padding-top: 16px;
    margin: auto;
    height: 100px;
  }

  .profile-page-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    width: 100%;

    .profile-aside-wrapper {
      position: sticky;
      box-sizing: border-box;
      top: 4.6rem;
      flex: 0 0 300px;
      height: auto;
      margin-bottom: 12px;

      > div {
        margin-bottom: 16px;
        padding: 8px 0;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 1px 3px 0 var(--card-shadow-color);
      }
    }

    .profile-main-wrapper {
      margin: 0 20px;
      padding: 0 2.5rem;
      border-radius: 8px;
      background: #fff;
      max-width: var(--pagepage-width);
      width: 100%;
      overflow: hidden;
    }
  }

  .profile-page-footer,
  .footer {
    padding: 2.5rem;
    border-top: 1px solid var(--c-border);
    text-align: center;
    color: var(--c-text-lighter);
    transition: border-color var(--t-color);
  }
}

@media (max-width: 719px) {
  .profile-page {
    .profile-page-body {
      .profile-aside-wrapper {
        display: none;
      }
    }
  }
}

@media (min-width: 719px) {
  .profile-page {
    padding: var(--navbar-height) 1rem 0;
  }
}
