@import '_variables';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;

  .profile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: calc(2 * var(--navbar-height));
  }

  .profile-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    padding-top: calc(2 * var(--navbar-height));
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    min-width: 80%;
    max-width: var(--profile-page-width);

    .profile-aside {
      position: sticky;
      box-sizing: border-box;
      top: 4.6rem;
      flex: 0 0 300px;
      height: auto;
      margin-bottom: 12px;
      max-width: var(--profile-aside-width);

      > div {
        margin-bottom: 16px;
        padding: 8px 0;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 1px 3px 0 var(--card-shadow-color);
      }
    }

    .profile-main {
      margin: 0 1rem;
      border-radius: 8px;
      background: #fff;
      max-width: var(--pagepage-width);
      width: 100%;
      overflow: hidden;
      .theme-star-content {
        padding: 0 1.5rem;
      }
    }

    @media (max-width: 419px) {
      .profile-main {
        border-radius: 0;
      }
    }
  }

  .profile-footer {
    width: 100%;
    border-top: 1px solid var(--c-border);
    background: #fff;
    text-align: center;
    color: var(--c-text-lighter);
    transition: border-color var(--t-color);
  }
}
