.profile {
  width: 100%;

  .navbar {
    opacity: 1;
  }

  .profile-body {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .profile-aside {
      width: 100%;
      position: unset;
      padding: 0 1rem;

      > *:not(.mobile-show) {
        display: none;
      }
    }
    .profile-main {
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }
}
