:root {
  --back-to-top-z-index: 5;

  --back-to-top-color: #3eaf7c;
  --back-to-top-color-hover: #71cda3;

  // badge component colors
  --c-badge-tip: #42b983;
  --c-badge-primary: #e7c000;
  --c-badge-success: #67c23a;
  --c-badge-warning: #e7c000;
  --c-badge-danger: #cc0000;

  // code blocks vars
  --code-color: #333;
  --code-bg-color: #282c34;
  --code-hl-bg-color: #d7e9f7;
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
}
