.nav {
  .nav-bar .navbar-items {
    display: none;
  }

  .nav-screen {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: var(--navbar-height) 2rem 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow-y: auto;
    background-color: var(--c-bg);

    .navbar-items {
      display: block;
      padding-top: 1rem;

      .navbar-item {
        display: block;
        margin-left: 0;
        padding: 12px 4px 11px 0;
        border-bottom: 1px solid var(--c-border);
        line-height: 1.5rem;
        transition: border-bottom-color var(--color-transition);
      }
    }

    .navbar-brand {
      display: block;
      margin: 0 auto;
      padding: 0.5rem;

      .logo {
        height: 20vh;
        margin: 0;
      }
    }

    &.fade-enter-active,
    &.fade-leave-active {
      transition: opacity 0.25s;

      div {
        transition: transform 0.25s ease;
      }
    }

    &.fade-enter-from,
    &.fade-leave-to {
      opacity: 0;

      div {
        transform: translateY(-8px);
      }
    }
  }
}
