.aside {
}

.sidebar {
  width: 100%;
  font-size: 16px;
  z-index: 10;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 2px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--c-brand) var(--c-border);
  background-color: var(--c-bg-sidebar);
  transition: transform var(--t-transform), background-color var(--t-color),
    border-color var(--t-color);
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--c-border);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--c-brand);
  }
}
