@import '_mixins';
@import '_variables';

.page {
  display: block;
  margin: 0 auto;

  .theme-default-content {
    @include content_wrapper;
    padding-top: 0;
  }

  .container {
    .container-header {
      height: 40vh;
      width: 100%;
      max-width: calc(var(--content-width) + 5rem);
      margin: 0 auto;
      padding: var(--navbar-height) 0;

      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .container-content {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: var(--page-width);

      .content-left {
        height: calc(100vh - var(--navbar-height));
        position: sticky;
        top: var(--navbar-height);
      }

      .content-middle {
        margin: 0 0.5rem;
        max-width: var(--content-width);
      }

      .content-right {
      }

      .content-left,
      .content-right {
        width: var(--page-aside-width);
        transition: transform 0.25s ease-in-out 0.12s,
          opacity 0.25s ease-in-out 0.12s;
        transform: translateY(0px);
        opacity: 1;
      }

      @media (max-width: $md) {
        .content-left {
          display: none;
        }

        .content-middle {
          width: 100%;
        }
      }

      @media (max-width: $lg) {
        .content-right {
          display: none;
        }
      }
    }
  }

  .sidebar {
    width: 100%;
    font-size: 16px;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border-radius: 2px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--c-brand) var(--c-border);
    background-color: var(--c-bg-sidebar);
    transition: transform var(--t-transform), background-color var(--t-color),
      border-color var(--t-color);
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--c-border);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--c-brand);
    }
  }

  .main-content {
    max-width: var(--content-width);
    margin: 0 auto;
    background: #fff;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
  }

  .anchor {
    border-radius: 2px;
    margin-bottom: 1.5rem;
    background: white;
    position: sticky;
    top: var(--navbar-height);
    max-height: calc(100vh - var(--navbar-height));
    overflow-y: auto;

    > .vuepress-toc-list {
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background: var(--border-color);
        z-index: -1;
      }

      > .vuepress-toc-item {
        > .active::before {
          content: ' ';
          position: absolute;
          top: 0;
          left: -19px;
          bottom: 0;
          width: 2px;
          z-index: 2;
          background: var(--accent-color);
        }
      }
    }

    ul {
      list-style-type: none;

      li {
        position: relative;

        a {
          display: block;
          color: var(--c-text-light);

          &.active {
            color: var(--c-text-accent);
          }
        }
      }
    }
  }

  .profile-card {
    background: #fff;
    border-radius: 2px;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
  }
}

.page-meta {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: auto;
  }

  .prev {
    a:before {
      content: '←';
    }
  }
  .next {
    float: right;

    a:after {
      content: '→';
    }
  }
}

@media screen and (min-width: $MQMobile) {
  .page {
    > .sidebar {
      display: none;
    }
  }
}
