@import '@vuepress/plugin-palette/palette';

// responsive breakpoints
$xs: 425px !default;
$sm: 768px !default;
$md: 1024px !default;
$lg: 1440px !default;
$xl: 2560px !default;

$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
