.archive-box {
  padding: 0 2rem;
}

.archive-box,
.archive-single {
  height: max-content;
}

.archive-single {
  display: flex;
}

.archive-line {
  text-align: center;
  flex: 0.3;
}

.archive-content {
  flex: 6;
  margin-left: 1.5rem;
  border-radius: 7px;
  padding-left: 15px;
}

.archive-line-icon-par {
  height: 0.9rem;
  width: 100%;
}

.archive-line-icon {
  height: 7px;
  width: 7px;
  border-radius: 100px;
  text-align: center;
}

.archive-line-bottom,
.archive-line-icon {
  background: var(--archive-archive, rgba(144, 241, 239, 0.35));
  margin: 0 auto;
}

.archive-line-bottom {
  height: 90%;
  width: 4px;
  margin-top: 3px;
}

.archive-create-link-single {
  margin-left: 1.15rem;
}

.archive-create-link-single li:hover .archive-line-icon {
  -webkit-animation: archive-active 0.3s;
  animation: archive-active 0.3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--archive-archive-active, pink);
}

@-webkit-keyframes archive-active {
  0% {
    width: 7px;
    height: 7px;
  }

  25% {
    width: 8px;
    height: 8px;
  }

  50% {
    width: 9px;
    height: 9px;
  }

  75% {
    width: 10px;
    height: 10px;
  }

  to {
    width: 11px;
    height: 11px;
  }
}

.archive-create-links {
  flex: 4;
}

.archive-create-month {
  flex: 6;
}

.archive-create-time {
  height: 1.5rem;
  padding-left: 0.5rem;
  width: 10rem;
}

.archive-create-time span {
  line-height: 1.5rem;
}

.archive-create-link-single ul {
  padding: 0;
}

.archive-create-link-single ul li {
  list-style: none;
  margin-bottom: 1.7rem;
  display: flex;
}

.archive-create-link-single ul li .archive-title span {
  -webkit-animation-duration: 0.33s;
  animation-duration: 0.33s;
  -webkit-animation-name: archiveEnter;
  animation-name: archiveEnter;
}

.archive-create-link-single ul li:hover .archive-content {
  cursor: pointer;
  -webkit-animation: archiveShade 0.6s;
  animation: archiveShade 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.archive-create-link-single ul li:hover .archive-title span {
  -webkit-animation: archiveHover 0.33s;
  animation: archiveHover 0.33s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  color: var(--archive-archive-active-title, pink);
}

@-webkit-keyframes archiveShade {
  0% {
    box-shadow: transparent;
  }

  to {
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes archiveEnter {
  0% {
    padding-left: 10px;
  }

  to {
    padding-left: 0;
  }
}

@-webkit-keyframes archiveHover {
  0% {
    padding-left: 0;
  }

  to {
    padding-left: 10px;
  }
}

.archive-title a {
  color: #2c3e50;
  font-weight: 700;
}

.archive-create-page-time span {
  font-size: 13px;
}

.archive-year {
  position: relative;
  width: 6rem;
  padding-left: 1.15rem;
}

.archive-year-title:before {
  display: inline-block;
  height: 7px;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  content: '';
  border-radius: 10px;
  -webkit-animation: archiveYearLevel 0.9s;
  animation: archiveYearLevel 0.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.archive-year:hover .archive-year-title {
  cursor: pointer;
}

.archive-year:hover .archive-year-title:before {
  -webkit-animation: archiveTitleChange 0.9s;
  animation: archiveTitleChange 0.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes archiveYearLevel {
  0% {
    background: rgba(0, 207, 200, 0.9);
    width: 50%;
  }

  to {
    background: rgba(0, 207, 200, 0.4);
    width: 15%;
  }
}

@keyframes archiveYearLevel {
  0% {
    background: rgba(0, 207, 200, 0.9);
    width: 50%;
  }

  to {
    background: rgba(0, 207, 200, 0.4);
    width: 15%;
  }
}

@-webkit-keyframes archiveTitleChange {
  0% {
    background: rgba(0, 207, 200, 0.4);
    width: 15%;
  }

  to {
    width: 50%;
    background: rgba(0, 207, 200, 0.9);
  }
}

@keyframes archiveTitleChange {
  0% {
    background: rgba(0, 207, 200, 0.4);
    width: 15%;
  }

  to {
    width: 50%;
    background: rgba(0, 207, 200, 0.9);
  }
}

.archive-year span {
  line-height: 2rem;
  font-weight: 700;
  font-size: 32px;
}

.archive-item {
  margin-bottom: 1.5rem;
}
