:root {
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
}

.calendar-graph {
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .ContributionCalendar-day,
  .ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
    shape-rendering: geometricPrecision;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
  }
  .ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
    outline: 1px solid var(--color-calendar-graph-day-L1-border);
  }
  .ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
    outline: 1px solid var(--color-calendar-graph-day-L2-border);
  }
  .ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
    outline: 1px solid var(--color-calendar-graph-day-L3-border);
  }
  .ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
    outline: 1px solid var(--color-calendar-graph-day-L4-border);
  }

  .ContributionCalendar-label {
    font-size: 12px;
    fill: var(--color-fg-default);
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}

@media (max-width: 1280px) {
  .calendar-graph {
    align-items: flex-end;
  }
}

.calendar-graph-svg {
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
