@import '_variables';

.navbar {
  --navbar-line-height: calc(
    var(--navbar-height) - 2 * var(--navbar-padding-v)
  );

  padding: var(--navbar-padding-v) var(--navbar-padding-h);
  line-height: var(--navbar-line-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-left,
  .navbar-right {
    flex: 1;
    display: inline-flex;
  }

  .navbar-left {
    justify-content: start;
  }

  .navbar-right {
    justify-content: end;
  }

  .navbar-middle {
    width: 10rem;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    width: 10rem;
    height: 8.2rem;
    background: url(../assets/images/logo_bg.png) 50% 100% no-repeat;
    background-size: cover;
    top: 0;
    text-align: center;

    .logo {
      height: 60%;
      margin: 0 auto;
      vertical-align: top;
    }
  }

  .logo {
    height: var(--navbar-line-height);
    margin-right: var(--navbar-padding-v);
    vertical-align: top;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--c-text);
    position: relative;
  }

  .navbar-items-wrapper {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: var(--navbar-padding-v);
    left: var(--navbar-padding-h);
    height: var(--navbar-line-height);
    white-space: nowrap;
    font-size: 0.9rem;

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    padding-left: 4rem;
    padding-right: 4rem;

    .can-hide {
      display: none;
    }

    .site-name {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/**
 * navbar-items
 */
.navbar-items {
  display: inline-block;

  a {
    display: inline-block;
    line-height: 1.4rem;
    color: inherit;

    &:hover,
    &.router-link-active {
      color: var(--c-text-accent);
    }
  }

  .navbar-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: var(--navbar-line-height);

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar-items {
    .navbar-item {
      margin-left: 0;
    }
  }
}

@media (min-width: $MQMobile) {
  .navbar-items a {
    &:hover,
    &.router-link-active {
      color: var(--c-text);
    }
  }

  .navbar-item > a {
    &:hover,
    &.router-link-active {
      margin-bottom: -2px;
      border-bottom: 2px solid var(--c-text-accent);
    }
  }
}

@media screen and (max-width: $MQMobile) {
  .toggle-navbar-button {
    display: flex !important;
  }
}

@media screen and (max-width: $MQMobile) {
  .toggle-sidebar-button {
    display: block !important;
  }
}

/**
 * toggle color mode button
 */
.toggle-color-mode-button {
  display: flex;
  margin: auto;
  margin-left: 1rem;
  border: 0;
  background: none;
  color: var(--c-text);
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

#docsearch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DocSearch {
  transition: background-color var(--t-color);
}
