@import 'variables';

.nav {
  --navbar-line-height: calc(
    var(--navbar-height) - 2 * var(--navbar-padding-v)
  );

  padding: var(--navbar-padding-v) var(--navbar-padding-h);
  line-height: var(--navbar-line-height);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  .navbar-title {
    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        height: var(--navbar-line-height);
        margin-right: var(--navbar-padding-v);
        vertical-align: top;
      }
    }

    .site-name {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--c-text);
      position: relative;
    }
  }

  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    .navbar-items {
      box-sizing: border-box;
      top: var(--navbar-padding-v);
      left: var(--navbar-padding-h);
      height: var(--navbar-line-height);
      white-space: pre;
      font-size: 0.9rem;
    }

    .search {
      flex: 1 0 auto;
      vertical-align: top;
    }

    /**
     * toggle-navbar-button
     */
    .toggle-navbar-button {
      display: none;
    }
  }
}

.nav-screen {
  display: none;
  transition: background-color 0.5s ease-in-out;

  .container * {
    pointer-events: auto;
  }
}

@media (max-width: $sm) {
  .nav {
    &:has(.toggle-navbar-button) {
      padding-right: 4rem;
    }

    .nav-bar {
      .site-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .search {
        flex-grow: 0;
      }

      /**
        * toggle-navbar-button
        */
      .toggle-navbar-button {
        display: block;
      }
    }
  }
}

/**
 * navbar-items
 */
.navbar-items {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    line-height: 1.4rem;
    color: inherit;

    &:hover,
    &.router-link-active {
      color: var(--c-text);
    }
  }

  .navbar-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: var(--navbar-line-height);

    &:first-child {
      margin-left: 0;
    }

    > a {
      &:hover,
      &.router-link-active {
        margin-bottom: -2px;
        border-bottom: 2px solid var(--c-text-accent);
      }
    }
  }
}

@media (max-width: $sm) {
  .navbar-items {
    .navbar-item {
      margin-left: 0;

      > a {
        &:hover,
        &.router-link-active {
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }

    a {
      &:hover,
      &.router-link-active {
        color: var(--c-text-accent);
      }
    }
  }
}

/**
 * toggle color mode button
 */
.toggle-color-mode-button {
  display: flex;
  margin: auto;
  margin-left: 1rem;
  border: 0;
  background: none;
  color: var(--c-text);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.DocSearch {
  transition: background-color var(--t-color);
}
