@import '_variables';

.navbar {
  --navbar-line-height: calc(
    var(--navbar-height) - 2 * var(--navbar-padding-v)
  );

  padding: var(--navbar-padding-v) var(--navbar-padding-h);
  line-height: var(--navbar-line-height);

  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-mobile-wrapper {
    display: none;
    transition: background-color 0.5s ease-in-out;
  }

  .navbar-left,
  .navbar-right {
    flex: 1;
    display: inline-flex;
  }

  .navbar-left {
    justify-content: start;
  }

  .navbar-right {
    justify-content: end;
  }

  .navbar-middle {
    width: 10rem;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    width: 10rem;
    height: 8.2rem;
    background: url(../assets/images/logo_bg.png) 50% 100% no-repeat;
    background-size: cover;
    top: 0;
    text-align: center;
    transition: width 0.25s ease-in-out;

    .logo {
      height: 60%;
      margin: 0 auto;
      vertical-align: top;
    }
  }

  .logo {
    height: var(--navbar-line-height);
    margin-right: var(--navbar-padding-v);
    vertical-align: top;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--c-text);
    position: relative;
  }

  .navbar-items-wrapper {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: var(--navbar-padding-v);
    left: var(--navbar-padding-h);
    height: var(--navbar-line-height);
    white-space: nowrap;
    font-size: 0.9rem;

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }
  }
}

.navbar.collapse {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: $MQMobile) {
  .navbar {
    .site-name {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/**
 * navbar-items
 */
.navbar-items {
  display: inline-block;

  a {
    display: inline-block;
    line-height: 1.4rem;
    color: inherit;

    &:hover,
    &.router-link-active {
      color: var(--c-text-accent);
    }
  }

  .navbar-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: var(--navbar-line-height);

    &:first-child {
      margin-left: 0;
    }
  }
}

.theme-container.navbar-open {
  .navbar.collapse .navbar-mobile-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    overflow-y: auto;
    padding: 0 2rem;
    background-color: var(--c-bg);

    .navbar-items-wrapper {
      position: unset;
      height: unset;

      .navbar-items {
        display: block;
        width: 100%;
        padding-top: 1rem;

        .navbar-item {
          display: block;
          margin-left: 0;
          padding: 12px 4px 11px 0;
          border-bottom: 1px solid var(--c-border);
          line-height: 1.5rem;
          transition: border-bottom-color var(--color-transition);
        }
      }
    }

    .navbar-brand-wrapper {
      display: block;
      margin: 0 auto;
      padding: 0.5rem;

      .logo {
        height: 20vh;
        margin: 0;
      }
    }

    &.fade-enter-active,
    &.fade-leave-active {
      transition: opacity 0.25s;

      div {
        transition: transform 0.25s ease;
      }
    }

    &.fade-enter-from,
    &.fade-leave-to {
      opacity: 0;

      div {
        transform: translateY(-8px);
      }
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar-items {
    .navbar-item {
      margin-left: 0;
    }
  }
}

@media (min-width: $MQMobile) {
  .navbar-items a {
    &:hover,
    &.router-link-active {
      color: var(--c-text);
    }
  }

  .navbar-item > a {
    &:hover,
    &.router-link-active {
      margin-bottom: -2px;
      border-bottom: 2px solid var(--c-text-accent);
    }
  }
}

@media screen and (max-width: $xs) {
  .navbar-middle {
    display: none;
  }
}
@media screen and (max-width: $sm) {
  .navbar-middle {
    width: 5rem !important;
  }
  .navbar-logo {
    width: 5rem !important;
    height: 4.1rem !important;
  }
}

/**
 * toggle color mode button
 */
.toggle-color-mode-button {
  display: flex;
  margin: auto;
  margin-left: 1rem;
  border: 0;
  background: none;
  color: var(--c-text);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

#docsearch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DocSearch {
  transition: background-color var(--t-color);
}
