@import '_variables';
@import '_wrapper';

.page {
  padding-bottom: 2rem;
  display: block;

  aside {
    position: sticky;
    top: 5.6rem;
    width: 100%;
    margin: 0 auto;
    max-width: calc(var(--content-width) + 0.5rem);
    z-index: 99;
    transition: transform 0.25s ease-in-out 0.12s,
      opacity 0.25s ease-in-out 0.12s;
    transform: translateY(0px);
    opacity: 1;

    .anchor {
      position: absolute;
      left: calc(100% + 0.5rem);
      min-width: 10rem;
      max-width: 15rem;
      max-height: 80vh;
      overflow-y: auto;

      > .vuepress-toc-list {
        &::before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 2px;
          background: var(--border-color);
          z-index: -1;
        }

        > .vuepress-toc-item {
          > .active::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: -19px;
            bottom: 0;
            width: 2px;
            z-index: 2;
            background: var(--accent-color);
          }
        }
      }

      ul {
        list-style-type: none;

        li {
          position: relative;

          a {
            display: block;
            color: var(--c-text-light);

            &.active {
              color: var(--c-text-accent);
            }
          }
        }
      }
    }
  }

  @media (max-width: 1400px) {
    aside {
      display: none;
    }
  }
}

.page-meta {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: auto;
  }

  .next {
    float: right;
  }
}
