@use 'sass:color';
@use 'sass:list';
@use '@sass-palette/star-config';

.page-info .categories {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .category {
    display: inline-block;

    > span {
      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: '';
      }
    }

    &.clickable {
      > span:hover {
        cursor: pointer;
        color: var(--accent-color);
      }
    }
  }
}
