::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background: var(--c-brand);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background: var(--c-brand);
  -webkit-border-radius: 6px;
}
