@import '_variables';

.home-container {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100vh;

  .content {
    margin: 0 -6px 0 auto;
    padding: 0;
    height: 100vh;
    width: calc(100% + 6px);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;

    header {
      position: sticky;
      z-index: -1;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero {
        margin: 0 auto;
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem auto;
      }

      .arrow {
        position: absolute;
        display: block;
        background-size: auto 0.47rem;
        border-radius: 50%;
        z-index: 99;
        padding: 0.12rem 0 0;
        bottom: 1.6rem;
        height: 4.5rem;
        width: 4.5rem;
        text-align: center;
        cursor: pointer;
        animation: arrow-float 2s linear infinite;
      }
    }

    main {
      margin-right: auto;
      margin-left: auto;
      min-height: calc(100vh - 2rem);
      max-width: var(--homepage-width);
      padding: 2rem 2rem 0;
      background: var(--c-bg);
      z-index: 2;

      .features {
        transition: border-color var(--color-transition);
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        overflow: hidden;
        border-top: 1px solid var(--border-color);

        @media (max-width: $md) {
          margin: 0 -1.5rem;
        }
      }

      .theme-default-content {
        padding: 0;
        margin: 0;
      }

      .footer {
        padding: 2.5rem;
        border-top: 1px solid var(--c-border);
        text-align: center;
        color: var(--c-text-lighter);
        transition: border-color var(--t-color);
      }
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home-container .content {
    header {
      .hero {
        img {
          max-height: 210px;
          margin: 2rem auto 1.2rem;
        }

        h1 {
          font-size: 2rem;
        }

        h1,
        .description,
        .actions {
          margin: 1.2rem auto;
        }

        .description {
          font-size: 1.2rem;
        }

        .action-button {
          font-size: 1rem;
          padding: 0.6rem 1.2rem;
        }
      }
    }

    main {
      .feature {
        h2 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
