@import 'variables';

.home {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100vh;

  > .container {
    display: block;
    margin: 0 -6px 0 auto;
    padding: 0;
    height: 100vh;
    width: calc(100% + 6px);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;

    .container-header {
      position: sticky;
      z-index: -1;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .nav {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        height: var(--navbar-height);
        box-sizing: border-box;
        background: transparent;
        border-bottom: none;
        transition: opacity 0.5s;
        pointer-events: none;
      }

      .hero {
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
    }

    .container-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: auto;
      min-height: calc(100vh - 2rem);
      max-width: var(--home-page-width);
      margin: 0 auto;
      padding: 2rem 2rem 0;
      overflow: hidden;
      background: var(--c-bg);
      z-index: 2;

      .features {
        transition: border-color var(--color-transition);
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        overflow: hidden;
        border-top: 1px solid var(--border-color);

        @media (max-width: $md) {
          margin: 0 -1.5rem;
        }
      }

      .theme-default-content {
        padding: 0;
        margin: 0;
      }
    }

    .container-footer {
      margin: 0 auto;
      width: auto;
      max-width: var(--home-page-width);
      padding: 0 2rem;
      text-align: center;
      background: var(--c-bg);
      color: var(--c-text-lighter);
      transition: border-color var(--t-color);
    }
  }
}

@media (max-width: $xs) {
  .home > .container {
    .container-header {
      .hero {
        img {
          max-height: 210px;
          margin: 2rem auto 1.2rem;
        }

        h1 {
          font-size: 2rem;
        }

        h1,
        .description,
        .actions {
          margin: 1.2rem auto;
        }

        .description {
          font-size: 1.2rem;
        }

        .action-button {
          font-size: 1rem;
          padding: 0.6rem 1.2rem;
        }
      }
    }

    .container-content {
      .feature {
        h2 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
