@import 'variables';

.custom-container.details {
  position: relative;

  display: block;

  margin: 1.6em 0;
  padding: 1.5rem;
  border-radius: 0.5rem;

  background: var(--detail-bg-color);
  color: var(--detail-text-color);

  transition: all var(--transform-transition);

  h4 {
    margin-top: 0;
  }

  figure,
  p {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  a {
    color: var(--c-brand, #3eaf7c);
  }

  summary {
    position: relative;

    padding-left: 2.5rem;

    outline: none;
    list-style: none;

    cursor: pointer;

    // a deprecated prefix
    &::-webkit-details-marker,
    &::marker {
      color: transparent;
      font-size: 0;
    }

    &::before,
    &::after {
      content: ' ';

      position: absolute;
      top: calc(50% - 0.75rem);
      left: 0;

      width: 1.5rem;
      height: 1.5rem;
    }

    &::before {
      border-radius: 50%;
      background: var(--detail-summary-bg-color);
      transition: all var(--transform-transition);
    }

    &::after {
      background-image: var(--detail-icon);
      line-height: normal;
      transition: all var(--transform-transition);
      transform: rotate(90deg);
    }
  }

  &[open] summary {
    margin-bottom: 0.5em;

    &::after {
      transform: rotate(180deg);
    }
  }
}
