html.dark {
  // info
  --info-title-color: #eef9fd;
  --info-bg-color: #193c47;

  // note
  --note-title-color: #fdfdfe;
  --note-bg-color: #474748;

  // tip
  --tip-title-color: #e6f6e6;
  --tip-bg-color: #003100;

  // warning
  --warning-title-color: #fff8e6;
  --warning-bg-color: #4d3800;

  // danger
  --danger-title-color: #ffebec;
  --danger-bg-color: #4b1113;

  // detail
  --detail-bg-color: #333;
  --detail-summary-bg-color: #555;
  --detail-text-color: #a8a8a8;
}
