.markdown-enhance-markmap {
  width: 100%;

  .markmap-title {
    margin: 0.5rem auto;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }

  .markmap {
    width: 100%;
    min-height: 400px;
  }
}
