/**
 * code-group
 */
.code-group {
  border-radius: 6px;

  .code-group__nav {
    margin: 0.85rem 0 -0.85rem;

    padding: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background-color: var(--code-group-nav-bg-color, #3a404c);
    list-style: none;

    transition: background-color var(--color-transition, 0.3s);
  }

  .code-group__ul {
    margin: auto 0;
    padding-left: 0;
    display: inline-flex;
    list-style: none;

    .code-group__li:first-child .code-group__nav-tab-active {
      &::before {
        display: none;
      }
    }
  }

  .code-group__nav-tab {
    position: relative;
    border: 0;

    min-width: 3rem;
    margin: 0;
    padding: 6px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background-color: transparent;
    color: var(--code-group-nav-text-color, #eee);

    font-weight: 600;
    font-size: 0.65em;
    line-height: 1.4;

    cursor: pointer;

    transition: background-color var(--color-transition, 0.3s),
      color var(--color-transition, 0.3s);

    &:hover {
      background-color: var(--code-group-nav-hover-color, #434a57);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid rgba(255, 255, 255, 0.9);
    }

    &::before,
    &::after {
      content: ' ';

      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 6px;
      height: 6px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  .code-group__nav-tab-active {
    background-color: var(--code-bg-color, #282c34);

    &::before {
      background: radial-gradient(
        12px at left top,
        transparent 50%,
        var(--code-bg-color, #282c34) 50%
      );
    }

    &::after {
      background: radial-gradient(
        12px at right top,
        transparent 50%,
        var(--code-bg-color, #282c34) 50%
      );
    }

    &:hover {
      &::before {
        background: radial-gradient(
          12px at left top,
          transparent 50%,
          var(--code-group-nav-hover-color, #434a57) 50%
        );
      }

      &::after {
        background: radial-gradient(
          12px at right top,
          transparent 50%,
          var(--code-group-nav-hover-color, #434a57) 50%
        );
      }
    }
  }

  @media (max-width: 419px) {
    .code-group__nav {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      border-radius: 0;
    }
  }

  /**
   * code-group-item
   */
  .code-group-item {
    display: none;

    &.active {
      display: block;
    }

    > pre {
      background-color: orange;
    }

    div[class*='language-'] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .code-group-item__active {
    display: block;
  }
}
